@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

body {
    background-color: #232426;
    color: #ffffff;
    font-family: Arial, sans-serif;
    max-width: 100dvw;
    max-height: 100dvh;
}

input {
    display: block;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    background: #2c2c2c;
    color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.tier {
    display: flex;
    border: 1px solid #ffffff;
    margin-top: 20px;
    border-radius: 8px;
}

.tier,
.unranked {
    @apply md:w-[85%] w-[95vw];
}

.tier-header {
    max-width: 128px;
    min-width: 128px;
    width: auto;
    background-color: #2c2c2c;
    display: grid;
    place-items: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    position: relative;
    text-align: center;
}

.unranked .tier-header {
    max-width: 100%;
    min-width: 100%;
    @apply rounded-none;
}

.tier-content {
    @apply flex flex-1 md:flex-wrap gap-2 bg-[#42474a] min-h-[128px] rounded-br-lg rounded-tr-lg p-4 overflow-scroll md:overflow-auto;
}

.unranked .tier-content {
    @apply rounded-none;
}

.item {
    display: grid;
    place-items: center;
    background-color: #778289;
    color: #000000;
    padding: 8px;
    border-radius: 4px;
    flex-wrap: wrap;
    object-fit: contain;
}

.item p {
    min-width: 80px;
    min-height: 80px;
    max-width: 128px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    text-align: center;
}

.item img {
    min-width: 80px;
    min-height: 80px;
    max-width: 128px;
}

.item-actions {
    display: flex;
    flex-direction: column;
}

.item > .item-actions button {
    font-size: 0.7em;
}

.expanded-image-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.expanded-image {
    max-height: 80vh;
    max-width: 80vw;
    border-radius: 8px;
}

.edit-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #3a3a3a;
    padding: 20px;
    border-radius: 8px;
    z-index: 1001;
    @apply border border-slate-400;
}

.tier-header:hover .tier-header-button {
    visibility: visible;
    width: auto;
    height: auto;
}

.tier-header-button {
    visibility: hidden;
    width: auto;
    height: auto;
    padding: 0.7rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button {
    transition: all 0.1s linear;
}

button:not(.tier-header-button) {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
}

button.primary {
    background-color: #007bff;
    color: #ffffff;
}

button.secondary {
    background-color: #6c757d;
    color: #ffffff;
}

button.tertiary {
    background-color: #28a745;
    color: #ffffff;
}

button.destructive {
    background-color: #dc3545;
    color: #ffffff;
}

button:hover {
    filter: brightness(1.2);
}

.item {
    cursor: grab;
    transition: background-color 0.2s ease;
}

.item.dragging {
    background-color: #566066;
    cursor: grabbing;
}

.tier-content[data-rbd-droppable-state="hover"] {
    background-color: #4f5659;
}

.item:hover .item-delete {
    @apply absolute bottom-0 destructive flex items-center justify-center rounded-full text-red-600;
}

.item .item-delete {
    @apply hidden;
}

.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  white-space: pre;
  font-size: 30px;
  line-height: 1.2em;
  height:1.2em;
  overflow: hidden;
}
.loader:before {
  content:"Loading...\A⌰oading...\A⌰⍜ading...\A⌰⍜⏃ding...\A⌰⍜⏃⎅ing...\A⌰⍜⏃⎅⟟ng...\A⌰⍜⏃⎅⟟⋏g...\A⌰⍜⏃⎅⟟⋏☌...\A⌰⍜⏃⎅⟟⋏☌⟒..\A⌰⍜⏃⎅⟟⋏☌⟒⏁.\A⌰⍜⏃⎅⟟⋏☌⟒⏁⋔"; 
  white-space: pre;
  display: inline-block;
  animation: l39 1s infinite steps(11) alternate;
}

@keyframes l39 {
  100%{transform: translateY(-100%)}
}